.container {
    display: grid; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
} 
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  width: 23vw;
}
.grid div:first-child{
  display: flex;
  justify-content: flex-start;
  font-weight: 600;
}
.grid div {
  display: flex;
  justify-content: center;
}
