
.ficheProduit{
  margin-top: .7rem;
 

}

.footer{
    height: 5rem;
    position:relative;
    top:0
}
.footer{
    height: 5rem;
    position:relative;
    top:0
} 
.add{
    cursor: pointer;
    border: 1px solid black;
    padding: 0.1rem;
    text-align: right;

}
.buy{
 margin-right: 0.1em;

}
 