


.footer{
    height: 5rem;
    position:absolute;
    bottom:0;
    display: flex;
    justify-content: space-evenly;
}

.card{
    border-radius: 1rem;
    cursor: pointer;
    position:relative;
}
.card:hover{
    transform: scale(1.01);
}

.slide{

    height: 410px;
}

.like{

    color:#022F5D
}