.productimages {

  margin-top: 1rem;
  margin-left:7%;
  margin-bottom:5rem;

  
  }
  

  .productimages img{

    cursor: pointer;
    width: 5rem;
    height: 5rem;
    border: 1px solid black;
    padding: 0.5rem;
  }

  .GrandeImage{

    border: 1px solid black;

    margin-top: 15%;
    width: 35rem;
    height: 35rem;
    margin-left:5%
  }