
.cursor {
    cursor: pointer;
}

 .input1{

    background-color: var(--secondary-color);;

    border: 2px solid var(--secondary-color);;
    display: flex;
} 
.input1 .MuiAutocomplete-root{

    background-color: var(--secondary-color);;

    border: 2px solid var(--secondary-color);;
    display: flex;
} 

