
.cursor {
    cursor: pointer;
}

.input1{
    background-color: white;
    border: 4px solid var(--secondary-color);
    display: flex;
    border-radius: 5px 5px;
} 

.icon {
    height: 55px;
    background-color: var(--primary-color);
    border-radius: 5px 5px;
}

